/* caret style */
.caret {
  position: relative;
}

/* dropdown style */
.dropdown.open .caret:before,
.dropdown.open .caret:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.dropdown.open .caret:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: #ccc;
}
.dropdown.open .caret:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}

/* navbar style */
.navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.navbar-nav > .open > a .caret:before {
  bottom: -23px;
}
.navbar-nav > .open > a .caret:after {
  bottom: -24px;
}
